form p {
    display : inline-block;
}

form button {
    display: block;
}

table {
    width: 250px;
    margin: 10px;
}

th,
td {
    border: 1px solid black;
    width: 120px;
    overflow: hidden;
}
