form p {
    display : inline-block;
}

form button {
    display: block;
}

table {
    width: 600px;
    margin: 10px;
}

th,
td {
    border: 1px solid black;
    width: 150px;
    overflow: hidden;
}

.smallNumber {
    width: 100px;
}